
.transfer-list-container {
    display: flex;
    width: 100%;
    border: 1px solid black;
}

.left-container , .right-container {
    width: 50%;
}

.transfer-options {
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    border:1px solid black;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}