.analog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    width: 500px;
    height: 500px;
    border:5px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.center-connector {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border:5px solid black;
    background-color: black;
}

.hour-line,
.min-line,
.sec-line {
    border: 1px solid black;
    background-color:black;
    position: absolute;
    transform-origin: 50% 100%;
}

.min-line {
    width: 1px;
    height: 200px;
    top: 10%;
}

.hour-line {
    width: 5px;
    height: 150px;
    top: 20%;
}

.sec-line {
    width: 1px;
    height: 300px;
    top: 12%;
    transform-origin: 50% 63.5%;
}

.sec-line::before {
    content:"";
    position: absolute;
    height: 25%;
    width: 600%;
    background-color: black;
    bottom: 0;  
    left: -250%;
  }

  .digits {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: center;
    color: brown;
    font-weight: 600;
    font-size: 1rem;
  }
  
  
  .digit {
    position: absolute;
    translate: -50% -50%;
  }
  