main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-item {
    display: flex;
    gap: .5rem;
}