main {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.images-container{
    border:1px solid red;
    display: flex;
    width:250px;
    height:250px;
    /* overflow: scroll; */
    /* transform: translateX(-100px); */
}

.arrow-button{
    margin: 1rem;
    z-index: 1;
}